@import url('https://fonts.goggleapis.com/css2family=poetsenone&family=playfairdisplay&display=swap');

/* Define CSS variables */
:root {
    --primary-color: #606c38;
    --secondary-color: #283618;
    --background-color: #fefae0;
    --text-color: #dda15e;
}

/* Global styles */
body {
  font-family: 'Poetson One Font', sans-serif; /* Use Google Font */
  max-width: 1200px;
  color: var(--text-color); /* Apply text color variable */
  margin: 0 auto;
}

/* Headings and paragraph elements */
h1, h2 {
  color: var(--primary-color); 
  margin-top: 0;
}

p {
  color: var(--text-color); 
}

/* Social media links */
.sociallink {
  text-decoration: none; /* Remove underlines from social media links */
}

/* Hero container */
.hero {
  position: relative; /* Make the hero container relative */
  width: 100%; /* Make it fill the width of its container */
}

.hero img {
  width: 100%; /* Make the hero image fill the width of its container */
  object-fit: cover;
  display: block; /* Make it a block element */
  height: 100%;
}

.hero h1 {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 600;
}

.hero article {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  background-color: var(--background-color);
  opacity: 0.8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero article p {
    color: var(--text-color);
}

.hero article img {
  float: right; /* Float the image to the right of the paragraph */
  margin: 20px;
  /* width: 14px;
  height: 14px;
  object-fit: contain; */
} 
