:root {
    --primary-color: #cad2c5;
    --secondary-color: #84a98c;
    --accent1-color: #52796f;
    --accent2-color: #354f52;
}

body {
    max-width: 1200px;
    color: var(--primary-color);
    font-family: "Merriweather", "Roboto", serif;
    margin: 0 auto;
}

h1, h2 {
    color: var(--accent2-color); 
    margin-top: 0;  
}

p {
    color: var(--accent1-color);
}

 .sociallinks {
    text-decoration: none;
}
 nav a {
    text-decoration: none;
 }

.hero {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    font-size: 50px;
    font-weight: 900;
    color: var(--accent2-color);
    transform:  translateX(-50%);
    z-index: 10;
}

.hero article {
    position: absolute;
    background-color: var(--primary-color);
    left: 50%;
    top: 40%;
    opacity: 0.8;
    width: 90%;
    color: var(--accent2-color);
    border-radius: 20px;
    transform:  translateX(-50%);
    z-index: 10;
}

.hero article img {
    float: right;
    width: 100px;
    height: auto;
    padding: 10px;
    margin: 20px 10px;
}

.hero article p {
    margin: 20px 40px;
}