* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: black;
}

form {
    width: 650px;
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    gap: 1rem;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 15px;
}

legend {
    padding: 0.5rem;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
}

label, input, button, select, textarea {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

input, select, textarea {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

button {
    margin: 0.5rem 200px ;
    background-color: #378;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #456;
}

footer {
    margin: 20px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc; 
    max-width: 100%;
}

.form-item {
    display: flex;
    align-items: center;
}

.fieldset {
    justify-content: center;
    align-items: center;
}

.column1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.5rem ;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    display: grid;
    gap: 0.5rem;
    align-items: center;
}

.column2 label {
    text-align: start;
}